

.my-btn-primary {
    display: inline-block;
    border: 0;
    background-color: var(--secondary--color);
    border-radius: 20px;
    padding: 8px 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    font-weight: 200;
    margin: 10px;
    color: #fff;
}

.my-btn-primary:hover {
    transform: scale(.95);
    background-color: var(--primary--color);
    text-decoration: none;
    color: #fff
}

.my-btn-secondary {
    display: inline-block;
    border: var(--primary--color) 1px solid;
    background-color: transparent;
    border-radius: 20px;
    padding: 8px 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 200;
    margin: 10px;
    color: var(--primary--color);
}

.my-btn-secondary:hover {
    transform: scale(.90);
    border: var(--secondary--color) 1px solid;
    background-color: transparent;
    text-decoration: none;
    color: var(--secondary--color);
}